body,div,form,input,p,button,footer, header,{
    margin: 0;
    outline: medium none;
    padding: 0;
}
img {
    border: 0 none;
}
.header{
	text-align: center;
	height:32px;
	line-height: 32px;
	background: #F1F1F1;
	overflow: hidden;
	padding:0 200px 0 200px;
	font-size: 14px;
	letter-spacing: 1px;
}
.welcome{
		float:left;
	}
.hotline{
	float:right;
}
.banner{
	margin:48px 0 48px 0;
	background: #E8F4FF;
	text-align: center;
}
.img{
	display: inline-block;
	vertical-align: middle;
}
.login{
	display: inline-block;
	vertical-align: middle;
	background: #fff;
	border:1px solid #DCDCDC;	
	margin:55px 50px;
}
.content{
	text-align: left;
	margin:40px;
}
p{
	color:#666;
	font-size: 18px;
	margin-bottom: 8px;
}
.group {
    padding: 11px 0;
    position: relative;
}
.group .control-label {
    left: 1px;
    position: absolute;
    top: 12px;
}
.group .control-label i.i01 {
    background-position: -12px 0;
}
.group .control-label i.i02 {
    background-position: -60px 0;
}
.group .controls .pw-toggle {
    background-position: -156px 0;
    cursor: pointer;
    display: block;
    height: 44px;
    position: absolute;
    right: 1px;
    top: 12px;
    width: 48px;
}
.group .controls .pw-toggle.on {
  background-position: -108px 0;
}
.group .control-label i {
    border-right: 1px solid #dcdcdc;
    display: inline-block;
    height: 44px;
    width: 48px;
}
.group .control-label i, .group .controls,.group .controls .pw-toggle, .msgs::before{
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
}
.group.password-group .controls .text {
    padding-right: 48px;
}
.group .controls .text {
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
    display: block;
    height: 46px;
    line-height: 44px;
    padding-left: 49px;
    text-indent: 70px;
    width: 400px;
}
.group .controls .captcha-img {
    background: #eee none repeat scroll 0 0;
    color: #b3b3b3;
    cursor: pointer;
    height: 36px;
    line-height: 36px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 16px;
    width: 100px;
}
.msgs {
  display: none;
  line-height: 20px;
  padding: 11px 0;
  font-size: 12px;
}
.msgs::before {
    background-position: 0 -10px;
    content: "​";
    display: inline-block;
    height: 12px;
    margin: 4px;
    vertical-align: top;
    width: 12px;
}
.links{
	font-size: 14px;
	color:#707070;
}
.links .f-pw {
    float: right;
    color:#707070;
    text-decoration: none;
}
.links label{
	margin-right:20px;
	letter-spacing: 2px;
}
.action{
	margin-top:26px;
}
.action .submit {
    background: #E23E3E none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    display: block;
    font-size: 18px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    width: 100%;
    cursor: pointer;
}
.footer{
	background: #F2F2F2;
	text-align: center;
	line-height: 114px;
	color:#666666;
}